html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

:root {
  --themeBlue: #001550;
  --themeBlueDark: #010c29;
  --themeBlack: #222222;
}

.--bgColor {
  background-color: var(--themeBlue);
}

.btn--themeBlue {
  background-color: var(--themeBlue);
  color: #fff;
}

.carrusel .carousel-indicators {
  bottom: -20%;
}
.carrusel .carousel-indicators li {
  background-color: #222222;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.btn--themeBlue:hover {
  background-color: var(--themeBlueDark);
}

/*header inicio*/
.btn__outline--white {
  color: #fff;
  font-size: 10px;
  border: 0.4px solid #fff;
}

.btn__outline--white:hover {
  color: var(--themeBlue);
  background-color: #fff;
}

.nav__main__link {
  position: relative;
  color: var(--themeBlack);
  font-size: 1em;
  margin: 0 1em;
  text-transform: uppercase;
}

.nav__main__link::before {
  position: absolute;
  content: '';
  height: 3px;
  background-color: var(--themeBlue);
  bottom: 0;
  left: 0;
  right: 100%;
}

.nav__main__link:hover {
  color: var(--themeBlue);
  transition: 0.2s ease;
}

.nav__main__link:hover::before {
  right: 0%;
  transition: 0.2s ease-out;
}
.nav__dropdown > .dropdown-menu.show {
  background-color: var(--themeBlue);
  color: #fff;
  top: 155%;
}
.nav__dropdown > .dropdown-menu.show > .nav__main__item{
  margin: 1em 0;
}
.nav__dropdown > .dropdown-menu.show > .nav__main__item > .dropdown-item.sub__nav__item {
  color: #fff;
}
.nav__dropdown > .dropdown-menu.show > .nav__main__item > .dropdown-item.sub__nav__item:hover {
  color: var(--themeBlue);
}
.nav__dropdown > .dropdown-menu.show > .nav__main__item > .dropdown-item.sub__nav__item:active {
  background-color: #fff;
  color: var(--themeBlue);
}
/*header fin*/

/*carousel inicio*/
.carousel__item__img {
  height: 500px;
  object-fit: cover;
  object-position: top;
}
.main__slider > .carousel-indicators > li {
  border: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.main__slider > .carousel-indicators > li.active {
  width: 28px;
  height: 15px;
  border-radius: 10px;
}
/*carousel fin*/

/*Afiliarse inicio*/
.afiliarce__container {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 800px;
  background-image: url('/images/bg-aflilizarce.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.afiliarce__container::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(22, 22, 22, 0.8);
}
.afiliarce__position {
  position: relative;
  z-index: 1;
}
.afiliarce__color {
  color: #fff;
}
.afiliarce__input {
  height: 75px;
  background: #fafafa 0% 0% no-repeat padding-box;
}
.btn--size {
  height: 75px;
}
/*Afiliarse Fin*/
/*Alianza inicio*/
.alianza__img {
  cursor: pointer;
  opacity: 0.5;
}
.alianza__img:hover {
  opacity: initial;
}
/*Alianza Fin*/

/* bostrtap */
