/* __ Colors __*/
$primary: #001550;
$secondary: #222222;

/* __ Devices __*/
$desktop: 1200px;
$tabletland: 1024px;
$tabletport: 720px;
$mobile: 100px;

/* __ Fonts __ */
$defaultFont:  Helvetica , sans-serif, open-sans-;

